/* apply a natural box layout model to all elements, but allowing components to change
(Box Model, http://www.paulirish.com/2012/box-sizing-border-box-ftw/)*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
/*padding en margin op 0 om default spacing in body element te verwijderen.
Voorkomt dat elementen niet volledig lijnen, zowel links als rechts*/
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.4;
  background: white;
  background-size: cover;
}

nav {
  background-color: white;
  color: black;
  text-align: right;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; /* or set width 100% */
}

nav a {
  display: inline-block;
  padding: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 20px;
  transition-property:background;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

nav a:hover {
  background: #FFA07A;
}

.logo {
  font-family: 'Satisfy';
  font-size: 28px;
  border: 2px solid #8c9d87;
  border-radius: 50%;
  border-color: black;
  height: 70px;
  width: 70px;
  padding:0px;
  text-align: center;
  line-height: 70px;
  float: left;
  margin: 8px;
  color: black;
}

header {
  /*nog toevoegen credit foto
  http://zoom.nl/foto/architectuur/rotterdam-skyline-2015.2622305.html) voor Skyline1
  en http://www.werkaandemuur.nl/nl/collectie/Rotterdam-posters-canvas/3 voor Skyline2*/
  text-align: center;
  padding: 200px 150px 200px 150px; /* top, right, bottom, left */
  background-image: url(../images/RotterdamSkyline_1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-size: 125px;
  font-family: 'Satisfy', cursive;
  color: #FAEBD7;
  text-shadow: 1px 1px 1px #000;
  padding: 0px;
  margin: 50px 50px -20px 50px;
}

h2 {
  font-family: 'Satisfy' cursive;
  font-size: 30px;
}

header h2 {
  color: #F0E68C;
  margin-top: -10px;
  text-shadow: 4px 4px 4px #000;
}

header a {
  color: #F0E68C;
}

header a:hover {
  color: #3CB371;
}

.about {
  background: white;
  color: black;
  padding: 70px 150px 50px 150px;
  text-align: justify;;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.about a {
  color: #FF6347;
}

.content-wrap {
  background: white;
  width: 750px ;
  margin: 0 auto;
  padding: 0px;
}

.extras {
  background:#FFA07A;
  font-family: 'Raleway';
  color: black;
  font-size: 40px;
  padding: 100px 150px 100px 150px;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* FOOTER/CONTACT
-----------------*/
footer {
  text-align: center;
  background: white;
  padding: 100px 150px 100px 150px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

footer a {
  color: #FF6347;
}

footer h1 {
  color: #FF6347;
  font-size: 45px;
}
/* Social links with only icon fonts */
.social-horizontal {
  text-align: center;
  margin-top: 50px;
}
.social-horizontal a {
  display: inline-block;
  margin: 10px 50px;
}
.social-horizontal i {
  font-size: 90px;
  color: #FF6347;
}

/* Foto Rotterdam credit */
.fotocredit {
  margin-top: 75px;
  margin-left: 10px;
  font-size: 14px;
}

/* Copyright */
.copyright {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 14px;
}
